.greeting{
    background-color: #acabd7;
    padding: 10px;
}

.heading{
    color: white;
    font-family: "Baskerville", serif;
    font-weight: bold;
    text-align: center;
}

.headingtext{
    color: white;
    font-family: "Baskerville", serif;
    text-align: center;
}

body{
    background-image:url('https://wallpaperaccess.com/full/869910.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }